service trusty-coverage-controller /vendor/bin/trusty-coverage-controller -o /data/local/tmp
    class main
    user root
    group root
    disabled

on property:persist.trusty.coverage.enabled=1
    start trusty-coverage-controller

on property:persist.trusty.coverage.enabled=0
    stop trusty-coverage-controller